/**
 * CSS rules and styles for the jqInlineEdit tutorial
 */

body {
	background-color: #f0f0f0;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

.example {
	padding: 0.3em;
	border: 1px solid blue;
	margin-bottom: 0.5em;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

pre {
	font-family: "Courier New", Courier, monospace;
}

.exampleBody {
	padding: 0.3em 1em;
	background-color: #ce8383;
}

.example .editField {
	background-color: #ce8383;	
}
