/**
 * CSS rules and styles for the jqInlineEdit tutorial
 */

body {
	background-color: #f0f0f0;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

h2 {
	border-bottom: 1px solid blue;
}

code.api {
	padding: 2px 4px;
	background-color: black;
	color: yellow;
}

code.apiParameter {
	padding: 2px 4px;
	background-color: #9bc9ff;
}

.jQueryAPI,
.jsAPI {
	font-family: monospace;
}

.example {
	padding: 0.3em;
	border: 2px solid blue;
	margin-bottom: 0.5em;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: white;
}

.subExample{
	margin-left: 2em;
}

pre {
	font-family: "Courier New", Courier, monospace;
}

.exampleBody {
	padding: 0.3em 1em;
	background-color: #cea3a3;
}

.example .editField {
	background-color: #cea3a3;	
}

.devNote {
	background-color: #3bff9e;
	padding: 0.3em 1em;
}
