/**
 * CSS rules and styles for the jqInlineEdit tutorial
 */

.example {
	padding: 0.3em;
	border: 1px solid blue;
	margin-bottom: 0.5em;
}

pre {
	font-family: "Courier New", Courier, monospace;
}

.exampleBody {
	padding: 0.3em 1em;
	background-color: #ce6363;
}

.example .editField {
	background-color: #ce6363;	
}
